$phone: 600px;

:host {
  display: flex;
  flex: 1;
  .mdc-card {
    flex: 1;
  }
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #242424;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  div {
    padding: 0.25rem;
    background: transparent;
    transition: background-color 100ms ease-in-out;
    &:hover {
      background: #505050;
      transition: background-color 100ms ease-in-out;
    }
    .userName {
      font-style: italic;
    }
  }
}
