:host {
  width: 25%;
  margin-right: 2rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #242424;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  div {
    cursor: default;
    padding: 0.25rem;
    background: transparent;
    transition: background-color 100ms ease-in-out;
    &:hover {
      background: #505050;
      transition: background-color 100ms ease-in-out;
    }
  }
}
