$phone: 600px;

:host {
  width: 25%;
  margin-right: 2rem;
  @media screen and (max-width: $phone) {
    margin: 0
  }
}

.togglePlayersBtn {
  position: absolute;
  z-index: 1;
  right: -6px;
  top: -6px;
  height: 28px;
  width: 28px;
}

.containerPlayers {
  @media screen and (max-width: $phone) {
    background: #69f0ae;
    position: absolute;
    z-index: 1;
    width: 50%;
    max-height: 64vh;
  }
}

mat-card-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #242424;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  div {
    cursor: default;
    padding: 0.25rem;
    background: transparent;
    transition: background-color 100ms ease-in-out;
    &:hover {
      background: #505050;
      transition: background-color 100ms ease-in-out;
    }
  }
}
