:host {
  position: absolute;
  right: 0;
  z-index: 1;
  padding: 1rem;
}

mat-icon {
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: #505050;
    transform: scale(1.3) rotate(45deg);
  }
}
