Number of sessions {{sessions.length}}<br/>

<div *ngFor="let session of sessions">
  <span>{{session.id}}</span> -- <span>{{session.code}}</span> -- <span>{{session.name}}</span>
  <button (click)="deleteSession(session.id)">x</button>
</div>

<button (click)="setActionType(actionTypeEnum.JOIN)">Join a session</button>
<button (click)="setActionType(actionTypeEnum.CREATE)">Create a session</button>

<ng-container *ngIf="actionType === actionTypeEnum.JOIN">
  <app-join-session></app-join-session>
  <ng-container *ngIf="session$ | async as session">
    <app-current-players [session]="session"></app-current-players>
    <app-new-user [session]="session"></app-new-user>
    <div *ngIf="user$ | async as user" class="messages">
      <app-refresh-messages
        [session]="session"
      ></app-refresh-messages>
      <app-display-messages
        [session]="session"
      ></app-display-messages>
      <app-new-message
        [session]="session"
        [user]="user"
      ></app-new-message>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="actionType === actionTypeEnum.CREATE">
  <app-new-session></app-new-session>
</ng-container>
