Number of sessions {{sessions.length}}<br/>

<div *ngFor="let session of sessions">
  <span>{{session.id}}</span> -- <span>{{session.code}}</span> -- <span>{{session.name}}</span>
  <button (click)="deleteSession(session.id)">x</button>
</div>

<button (click)="setActionType(actionTypeEnum.JOIN)">Join a session</button>
<button (click)="setActionType(actionTypeEnum.CREATE)">Create a session</button>

<ng-container *ngIf="actionType === actionTypeEnum.JOIN">
  <app-join-session></app-join-session>
  <app-new-user
    *ngIf="session$ | async as session"
    [session]="session"
  ></app-new-user>
</ng-container>

<ng-container *ngIf="actionType === actionTypeEnum.CREATE">
  <app-new-session></app-new-session>
</ng-container>

